<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
        namespace="edu.ssafy.enjoytrip.mapper.UserMapper">

    <resultMap type="user" id="userResultMap">
        <result column="user_id" property="userId"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_name" property="userName"/>
        <result column="email" property="email"/>
        <result column="join_date" property="joinDate"/>
        <result column="salt" property="salt"/>
        <result column="profile" property="profile"/>
    </resultMap>

    <insert id="createUser" parameterType="user">
        INSERT into users(user_id, user_password, user_name, email, join_date, salt, profile)
        VALUES (#{userId}, #{userPassword}, #{userName}, #{email}, now(), #{salt}, #{profile})
    </insert>

    <update id="modifyUser" parameterType="user">
        UPDATE users
        SET user_password = #{userPassword}
        WHERE user_id = #{userId};
    </update>

    <delete id="deleteUser" parameterType="string">
        DELETE FROM users
        WHERE user_id=#{userId};
    </delete>

    <select id="findById" parameterType="String" resultMap="userResultMap">
        SELECT user_id, user_name, email, join_date, profile
        FROM users
        WHERE user_id = #{userId};
    </select>

    <select id="checkById" parameterType="String" resultType="string">
        SELECT user_id
        FROM users
        WHERE user_id = #{userId};
    </select>

    <select id="getUserSalt" parameterType="String" resultType="string">
        SELECT salt FROM users
        WHERE user_id= #{userId};
    </select>

    <select id="login" parameterType="map" resultMap="userResultMap">
        SELECT user_id, user_name, email, join_date, profile
        FROM users
        WHERE user_id= #{userId} AND user_password= #{userPassword};
    </select>

    <select id="searchUser" parameterType="string" resultMap="userResultMap">
        SELECT user_id, user_name, email, join_date, profile
        FROM users
        WHERE user_id like CONCAT('%', #{userId}, '%')
    </select>

    <select id="findByEmail" parameterType="String" resultType="String">
        SELECT user_id
        FROM users
        WHERE email = #{email};
    </select>

    <update id="changePassword" parameterType="user">
        UPDATE users
        SET user_password = #{userPassword}
        WHERE user_id = #{userId}
    </update>

    <update id="changeProfile" parameterType="user">
        UPDATE users
        SET profile = #{profile}
        WHERE user_id = #{userId}
    </update>
</mapper>
